<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Flask Web Server</title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('.static', filename='ressources/bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="/index">Flask Web Server</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/index">Home</a>
      <a class="nav-item nav-link" href="/led">Led color</a>
      <a class="nav-item nav-link" href="/servo">Servo control</a>
      <a class="nav-item nav-link" href="/word">Add a word</a>
    </div>
  </div>
  </nav>
  <div class="content">
    {% block content %} {% endblock %} 
  </div>

  <script src="{{ url_for('.static', filename='ressources/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='ressources/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>

