{% extends "base.html" %} {% block content %}
<h1>LED color change</h1>
<form action="/led" method="POST">
  <div class="form-group alert alert-danger">
    <label for="redLed">Rouge: </label>
    <input
      type="range"
      max="100"
      min="1"
      step="1"
      name="redLed"
      value="{{ red }}"
    />
  </div>
  <div class="form-group alert alert-success">
    <label for="greenLed">Vert: </label>
    <input
      type="range"
      max="100"
      min="1"
      step="1"
      name="greenLed"
      value="{{ green }}"
    />
  </div>
  <div class="form-group alert alert-primary">
    <label for="blueLed">Bleu: </label>
    <input
      type="range"
      max="100"
      min="1"
      step="1"
      name="blueLed"
      value="{{ blue }}"
    />
  </div>
  <input type="submit" value="Valider" />
</form>
{% endblock %}
